<%= form_with(model: book) do |form| %>
  <div class="mb-4">
    <%= form.label :title, class: "block font-semibold mb-1" %>
    <%= form.text_field :title, class: "w-full border border-gray-300 rounded p-2" %>
  </div>

  <div class="mb-4">
    <%= form.label :genre, class: "block font-semibold mb-1" %>
    <%= form.text_field :genre, class: "w-full border border-gray-300 rounded p-2" %>
  </div>


  <div class="mb-4">
    <%= form.label :description, class: "block font-semibold mb-1" %>
    <%= form.text_area :description, rows: 4, class: "w-full border border-gray-300 rounded p-2" %>
  </div>

  <div class="mb-4">
    <%= form.label :author_id, "Author", class: "block font-semibold mb-1" %><br>
    <%= form.collection_select :author_id, Author.all, :id, :name, { prompt: "Choose an author" }, { class: "w-full border border-gray-300 rounded p-2" } %>
  </div>

  <div class="mt-6 flex justify-between">
    <%= form.submit class: "bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" %>
    <%= link_to 'Back', books_path, class: "bg-gray-600 text-white px-4 py-2 rounded hover:bg-gray-700" %>
  </div>
  
<% end %>
