<h1 class="text-2xl font-bold mb-4">Books</h1>

<%= form_with url: books_path, method: :get, local: true, class: "mb-6" do %>
  <div class="flex space-x-2">
    <%= text_field_tag :query, params[:query], placeholder: "Search books...", class: "w-full p-2 border border-gray-300 rounded" %>
    <%= submit_tag "Search", class: "bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" %>
  </div>
<% end %>


<div class="space-y-4">
  <% @books.each do |book| %>
    <div class="p-4 border rounded shadow flex justify-between items-center">
      <div>
        <p class="text-lg font-semibold"><%= book.title %></p>
      </div>
      <div class="space-x-2">
        <%= link_to 'Show', book, class: 'text-blue-600 hover:underline' %>
        <%= link_to 'Edit', edit_book_path(book), class: 'text-yellow-600 hover:underline' %>
        <%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-600 hover:underline' %>
      </div>
    </div>
  <% end %>
</div>

<div class="mt-6">
  <%= link_to "New Book", new_book_path, class: 'bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700'%>
</div>
